
.comments {
  font-weight: 600;
  width: 800px;
  background: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 30px;
  margin-bottom: 30px;
  &__comment {
    margin-bottom: 20px;
  }
  
}